body {
  margin: 0;
  background: #000;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Noto Naskh Arabic UI, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
